- let childItems = ['Все мотоциклы','Детские мотоциклы','Дорожные мотоциклы','Круизеры','Мотоциклы с пробегом Б/У','Питбайки','Спортбайки','Туристические','Чопперы','Кросс мотоциклы']

nav.header__nav
  .container
    ul.catalog
      li.catalog__item
        a(href="./catalog.html") Мотоциклы
        .catalogChild
          .container
            ul.catalogChild__list.scroll
              each val in childItems
                li.catalogChild__item.ic-arrow-orange
                  a(href="./catalog.html")= val
          .catalogChild__products.scroll
            each val in childItems
              +menuChildCategory(val)
      li.catalog__item
        a(href="./catalog.html") Квадроциклы
        .catalogChild
          .container
            ul.catalogChild__list.scroll
              each val in childItems
                li.catalogChild__item.ic-arrow-orange
                  a(href="./catalog.html")= val
          .catalogChild__products.scroll
            each val in childItems
              +menuChildCategory(val)
      li.catalog__item
        a(href="./catalog.html") Скутеры
      li.catalog__item
        a(href="./catalog.html") Электротранспорт
      li.catalog__item
        a(href="./catalog.html") Экипировка
      li.catalog__item
        a(href="./catalog.html") Запчасти
      li.catalog__item
        a(href="./catalog.html") Аксессуары
      li.catalog__item
        a(href="./catalog.html") Сервис
      li.catalog__item.catalog__item--target
        a(href="./catalog.html") SALE