//- - 
//-   let links = [
//-   'Мотоциклы',
//-   'Квадроциклы',
//-   'Скутеры',
//-   'Электротранспорт',
//-   'Экипировка',
//-   'Запчасти',
//-   'Аксессуары',
//-   'Сервис',
//-   'SALE',
//-   ];

nav.header__nav
  .container
    ul.catalog
      //- each val in links    
      //-   li
      //-     a(href="#")= val 
      li.catalog__item
        a(href="./catalog.html") Мотоциклы
      li.catalog__item
        a(href="./catalog.html") Квадроциклы
      li.catalog__item
        a(href="./catalog.html") Скутеры
      li.catalog__item
        a(href="./catalog.html") Электротранспорт
      li.catalog__item
        a(href="./catalog.html") Экипировка
      li.catalog__item
        a(href="./catalog.html") Запчасти
      li.catalog__item
        a(href="./catalog.html") Аксессуары
      li.catalog__item
        a(href="./catalog.html") Сервис
      li.catalog__item.catalog__item--target
        a(href="./catalog.html") SALE