.header__toolbar

  .container

    .dropdown.phones
      .dropdown__title.ic-phone
        a(href="tel:+380800316173") +38 (0 800) 316-173  
      button.btn.dropdown__btn.ic-arrow_down
      .dropdown__inner
        .dropdown__title
          a(href="tel:+380800316173") +38 (0 800) 316-173
        .dropdown__title
          a(href="tel:+380800316173") +38 (0 800) 316-173
        .dropdown__title
          a(href="tel:+380800316173") +38 (0 800) 316-173

    .dropdown.emails
      .dropdown__title.ic-mail
        a(href="mailto:info@artmoto.ua") info@artmoto.ua
      button.btn.dropdown__btn.ic-arrow_down
      .dropdown__inner
        .dropdown__title
          a(href="tel:+380800316173") info@artmoto.ua
        .dropdown__title
          a(href="tel:+380800316173") info@artmoto.ua
        .dropdown__title
          a(href="tel:+380800316173") info@artmoto.ua
    
    .dropdown.languages
      .dropdown__title 
        .languages__active
          img(src="./img/icons/russia.svg", alt="")
          p Русский
      button.btn.dropdown__btn.ic-arrow_down
      .dropdown__inner
        a(href="#") Русский
        a(href="#") Українська
        a(href="#") English
    
    .exchange
      .exchange__content 1 USD = 28.10 грн
      .tooltip.ic-what
        .tooltip__wrap
          .tooltip__content Lorem ipsum dolor