@charset "UTF-8";
/* montserrat-300 - latin_cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-display: swap;
  font-weight: 300;
  src: url("../fonts/montserrat-v15-latin_cyrillic-300.eot");
  src: local(""), url("../fonts/montserrat-v15-latin_cyrillic-300.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat-v15-latin_cyrillic-300.woff2") format("woff2"), url("../fonts/montserrat-v15-latin_cyrillic-300.woff") format("woff"), url("../fonts/montserrat-v15-latin_cyrillic-300.ttf") format("truetype"), url("../fonts/montserrat-v15-latin_cyrillic-300.svg#Montserrat") format("svg"); }

/* montserrat-regular - latin_cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url("../fonts/montserrat-v15-latin_cyrillic-regular.eot");
  src: local(""), url("../fonts/montserrat-v15-latin_cyrillic-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat-v15-latin_cyrillic-regular.woff2") format("woff2"), url("../fonts/montserrat-v15-latin_cyrillic-regular.woff") format("woff"), url("../fonts/montserrat-v15-latin_cyrillic-regular.ttf") format("truetype"), url("../fonts/montserrat-v15-latin_cyrillic-regular.svg#Montserrat") format("svg"); }

/* montserrat-500 - latin_cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src: url("../fonts/montserrat-v15-latin_cyrillic-500.eot");
  src: local(""), url("../fonts/montserrat-v15-latin_cyrillic-500.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat-v15-latin_cyrillic-500.woff2") format("woff2"), url("../fonts/montserrat-v15-latin_cyrillic-500.woff") format("woff"), url("../fonts/montserrat-v15-latin_cyrillic-500.ttf") format("truetype"), url("../fonts/montserrat-v15-latin_cyrillic-500.svg#Montserrat") format("svg"); }

/* montserrat-600 - latin_cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-display: swap;
  font-weight: 600;
  src: url("../fonts/montserrat-v15-latin_cyrillic-600.eot");
  src: local(""), url("../fonts/montserrat-v15-latin_cyrillic-600.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat-v15-latin_cyrillic-600.woff2") format("woff2"), url("../fonts/montserrat-v15-latin_cyrillic-600.woff") format("woff"), url("../fonts/montserrat-v15-latin_cyrillic-600.ttf") format("truetype"), url("../fonts/montserrat-v15-latin_cyrillic-600.svg#Montserrat") format("svg"); }

/* montserrat-700 - latin_cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src: url("../fonts/montserrat-v15-latin_cyrillic-700.eot");
  src: local(""), url("../fonts/montserrat-v15-latin_cyrillic-700.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat-v15-latin_cyrillic-700.woff2") format("woff2"), url("../fonts/montserrat-v15-latin_cyrillic-700.woff") format("woff"), url("../fonts/montserrat-v15-latin_cyrillic-700.ttf") format("truetype"), url("../fonts/montserrat-v15-latin_cyrillic-700.svg#Montserrat") format("svg"); }

/* montserrat-800 - latin_cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-display: swap;
  font-weight: 800;
  src: url("../fonts/montserrat-v15-latin_cyrillic-800.eot");
  src: local(""), url("../fonts/montserrat-v15-latin_cyrillic-800.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat-v15-latin_cyrillic-800.woff2") format("woff2"), url("../fonts/montserrat-v15-latin_cyrillic-800.woff") format("woff"), url("../fonts/montserrat-v15-latin_cyrillic-800.ttf") format("truetype"), url("../fonts/montserrat-v15-latin_cyrillic-800.svg#Montserrat") format("svg"); }

/* montserrat-900 - latin_cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-display: swap;
  font-weight: 900;
  src: url("../fonts/montserrat-v15-latin_cyrillic-900.eot");
  src: local(""), url("../fonts/montserrat-v15-latin_cyrillic-900.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat-v15-latin_cyrillic-900.woff2") format("woff2"), url("../fonts/montserrat-v15-latin_cyrillic-900.woff") format("woff"), url("../fonts/montserrat-v15-latin_cyrillic-900.ttf") format("truetype"), url("../fonts/montserrat-v15-latin_cyrillic-900.svg#Montserrat") format("svg"); }

.ic-arrow_down::before {
  content: '';
  display: block;
  width: 13px;
  height: 7px;
  background: url("../img/sprite.svg") -89px -5px; }

.ic-arrow_slider::before {
  content: '';
  display: block;
  width: 22px;
  height: 40px;
  background: url("../img/sprite.svg") -829px -5px; }

.ic-burger::before {
  content: '';
  display: block;
  width: 20px;
  height: 20px;
  background: url("../img/sprite.svg") -468px -5px; }

.ic-burger_orange::before {
  content: '';
  display: block;
  width: 20px;
  height: 20px;
  background: url("../img/sprite.svg") -498px -5px; }

.ic-calendar::before {
  content: '';
  display: block;
  width: 16px;
  height: 16px;
  background: url("../img/sprite.svg") -306px -5px; }

.ic-cart::before {
  content: '';
  display: block;
  width: 14px;
  height: 19px;
  background: url("../img/sprite.svg") -112px -5px; }

.ic-cart_orange::before {
  content: '';
  display: block;
  width: 14px;
  height: 19px;
  background: url("../img/sprite.svg") -136px -5px; }

.ic-check_in::before {
  content: '';
  display: block;
  width: 20px;
  height: 20px;
  background: url("../img/sprite.svg") -528px -5px; }

.ic-check_orange::before {
  content: '';
  display: block;
  width: 21px;
  height: 15px;
  background: url("../img/sprite.svg") -798px -5px; }

.ic-close::before {
  content: '';
  display: block;
  width: 34px;
  height: 34px;
  background: url("../img/sprite.svg") -1029px -5px; }

.ic-compare::before {
  content: '';
  display: block;
  width: 25px;
  height: 16px;
  background: url("../img/sprite.svg") -959px -5px; }

.ic-compare_orange::before {
  content: '';
  display: block;
  width: 25px;
  height: 16px;
  background: url("../img/sprite.svg") -994px -5px; }

.ic-facebook::before {
  content: '';
  display: block;
  width: 10px;
  height: 17px;
  background: url("../img/sprite.svg") -5px -5px; }

.ic-facebook_orange::before {
  content: '';
  display: block;
  width: 10px;
  height: 17px;
  background: url("../img/sprite.svg") -25px -5px; }

.ic-heart::before {
  content: '';
  display: block;
  width: 20px;
  height: 16px;
  background: url("../img/sprite.svg") -558px -5px; }

.ic-heart_black::before {
  content: '';
  display: block;
  width: 20px;
  height: 16px;
  background: url("../img/sprite.svg") -588px -5px; }

.ic-heart_orange::before {
  content: '';
  display: block;
  width: 20px;
  height: 16px;
  background: url("../img/sprite.svg") -618px -5px; }

.ic-instagram::before {
  content: '';
  display: block;
  width: 20px;
  height: 20px;
  background: url("../img/sprite.svg") -648px -5px; }

.ic-instagram_orange::before {
  content: '';
  display: block;
  width: 20px;
  height: 20px;
  background: url("../img/sprite.svg") -678px -5px; }

.ic-mail::before {
  content: '';
  display: block;
  width: 15px;
  height: 12px;
  background: url("../img/sprite.svg") -256px -5px; }

.ic-minus::before {
  content: '';
  display: block;
  width: 14px;
  height: 4px;
  background: url("../img/sprite.svg") -160px -5px; }

.ic-phone::before {
  content: '';
  display: block;
  width: 15px;
  height: 14px;
  background: url("../img/sprite.svg") -281px -5px; }

.ic-plus::before {
  content: '';
  display: block;
  width: 14px;
  height: 14px;
  background: url("../img/sprite.svg") -184px -5px; }

.ic-search::before {
  content: '';
  display: block;
  width: 20px;
  height: 19px;
  background: url("../img/sprite.svg") -708px -5px; }

.ic-share::before {
  content: '';
  display: block;
  width: 18px;
  height: 18px;
  background: url("../img/sprite.svg") -412px -5px; }

.ic-star_e::before {
  content: '';
  display: block;
  width: 17px;
  height: 16px;
  background: url("../img/sprite.svg") -358px -5px; }

.ic-star_f::before {
  content: '';
  display: block;
  width: 17px;
  height: 16px;
  background: url("../img/sprite.svg") -385px -5px; }

.ic-trash::before {
  content: '';
  display: block;
  width: 12px;
  height: 18px;
  background: url("../img/sprite.svg") -45px -5px; }

.ic-trash_orange::before {
  content: '';
  display: block;
  width: 12px;
  height: 18px;
  background: url("../img/sprite.svg") -67px -5px; }

.ic-twitter_orange::before {
  content: '';
  display: block;
  width: 24px;
  height: 20px;
  background: url("../img/sprite.svg") -925px -5px; }

.ic-user::before {
  content: '';
  display: block;
  width: 20px;
  height: 20px;
  background: url("../img/sprite.svg") -738px -5px; }

.ic-user_orange::before {
  content: '';
  display: block;
  width: 20px;
  height: 20px;
  background: url("../img/sprite.svg") -768px -5px; }

.ic-what::before {
  content: '';
  display: block;
  width: 14px;
  height: 14px;
  background: url("../img/sprite.svg") -208px -5px; }

.ic-what_orange::before {
  content: '';
  display: block;
  width: 14px;
  height: 14px;
  background: url("../img/sprite.svg") -232px -5px; }

.ic-youtube::before {
  content: '';
  display: block;
  width: 22px;
  height: 16px;
  background: url("../img/sprite.svg") -861px -5px; }

.ic-youtube_orange::before {
  content: '';
  display: block;
  width: 22px;
  height: 16px;
  background: url("../img/sprite.svg") -893px -5px; }

.ic-checked::before {
  content: '';
  display: block;
  width: 16px;
  height: 16px;
  background: url("../img/sprite.svg") -332px -5px; }

.ic-russia::before {
  content: '';
  display: block;
  width: 18px;
  height: 18px;
  background: url("../img/sprite.svg") -440px -5px; }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }
  *:target, *:focus, *:active {
    border: none;
    outline: none; }

body {
  font-size: 14px;
  font-weight: 400;
  font-family: "Montserrat";
  line-height: 22px;
  overflow-x: hidden;
  background: #fff;
  color: #414141; }
  body.root {
    min-height: 100vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }

button {
  font-family: "Montserrat"; }

img {
  display: block;
  max-width: 100%;
  height: auto; }

a {
  color: #414141;
  text-decoration: none; }
  a:hover {
    text-decoration: underline; }

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  body {
    overflow: hidden; }
    body::before {
      content: 'К сожалению сайт не может открыться в вашем браузере, так как он устарел. Пожалуйста обновите ваш браузер и попробуйте еще раз.';
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: #fff;
      z-index: 1000;
      text-align: center;
      padding-top: 50px; } }

.btn {
  display: block;
  background: rgba(0, 0, 0, 0);
  color: inherit;
  border: none;
  padding: 0; }
  .btn:hover {
    cursor: pointer; }

.input {
  display: block; }

.container {
  width: 1224px;
  margin: 0 auto; }
  @media (max-width: 1223px) {
    .container {
      width: 92%; } }

.preview {
  display: block; }

.slider {
  display: block; }

.title {
  display: block; }

.dropdown {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  .dropdown__btn {
    margin-left: 10px; }
  .dropdown__inner {
    display: none; }
    .dropdown__inner--open {
      display: block; }

.header {
  color: #fff;
  background: #242424; }
  @media (max-width: 768px) {
    .header {
      border-bottom: 1px solid #424242; } }
  .header--absolute {
    position: absolute;
    top: 0;
    left: 0;
    right: 0; }
  .header--opacity {
    background: rgba(0, 0, 0, 0.2); }
  .header__toolbar {
    letter-spacing: 0.02em;
    background: #212121;
    padding: 5px 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    color: #fff; }
    @media (max-width: 768px) {
      .header__toolbar {
        display: none; } }
    .header__toolbar .container {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: start;
      -webkit-justify-content: flex-start;
          -ms-flex-pack: start;
              justify-content: flex-start;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center; }
    .header__toolbar a {
      color: #fff; }
    .header__toolbar .phones .dropdown__title {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: start;
      -webkit-justify-content: flex-start;
          -ms-flex-pack: start;
              justify-content: flex-start;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center; }
      .header__toolbar .phones .dropdown__title::before {
        content: '';
        margin-right: 5px; }
    .header__toolbar .emails {
      margin-left: 32px; }
      .header__toolbar .emails .dropdown__title {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: start;
        -webkit-justify-content: flex-start;
            -ms-flex-pack: start;
                justify-content: flex-start;
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center; }
        .header__toolbar .emails .dropdown__title::before {
          content: '';
          margin-right: 5px; }
    .header__toolbar .languages {
      margin: 0 38px 0 auto; }
      .header__toolbar .languages__active {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: start;
        -webkit-justify-content: flex-start;
            -ms-flex-pack: start;
                justify-content: flex-start;
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center; }
        .header__toolbar .languages__active img {
          border-radius: 50%;
          margin-right: 5px; }
    .header__toolbar .exchange {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: start;
      -webkit-justify-content: flex-start;
          -ms-flex-pack: start;
              justify-content: flex-start;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center; }
      .header__toolbar .exchange .tooltip {
        margin-left: 5px; }
  .header__inner {
    padding: 17px 0; }
    @media (max-width: 768px) {
      .header__inner {
        padding: 15px 0; } }
    .header__inner .container {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: start;
      -webkit-justify-content: flex-start;
          -ms-flex-pack: start;
              justify-content: flex-start;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center; }
      @media (max-width: 1223px) {
        .header__inner .container {
          -webkit-box-pack: justify;
          -webkit-justify-content: space-between;
              -ms-flex-pack: justify;
                  justify-content: space-between; } }
      @media (max-width: 768px) {
        .header__inner .container {
          -webkit-box-pack: start;
          -webkit-justify-content: flex-start;
              -ms-flex-pack: start;
                  justify-content: flex-start; } }
  .header__nav {
    border-top: 1px solid #424242;
    border-bottom: 1px solid #424242; }
    @media (max-width: 768px) {
      .header__nav {
        display: none; } }

@media (max-width: 992px) {
  .logo img {
    width: 150px; } }

.menu {
  margin-right: 34px; }
  @media (max-width: 1223px) {
    .menu {
      margin: 0; } }
  @media (max-width: 768px) {
    .menu {
      margin-right: 26px; } }
  .menuContent {
    display: none; }

.search {
  position: relative;
  margin-left: 95px;
  width: 100%;
  max-width: 393px; }
  @media (max-width: 1223px) {
    .search {
      margin: 0; } }
  @media (max-width: 992px) {
    .search {
      max-width: 225px; } }
  @media (max-width: 768px) {
    .search {
      display: none; } }
  .search__inner {
    width: 100%;
    background: #282828;
    border: 1px solid #525252;
    padding: 17px 0; }
  .search__btn {
    position: absolute;
    top: 18px;
    left: 27px; }

.user {
  margin: 0 50px 0 auto; }
  @media (max-width: 1223px) {
    .user {
      margin: 0; } }
  @media (max-width: 768px) {
    .user {
      display: none; } }

.wishlist {
  margin: 0 60px 0 0; }
  @media (max-width: 1223px) {
    .wishlist {
      margin: 0; } }
  @media (max-width: 768px) {
    .wishlist {
      display: none; } }

.compare {
  margin: 0 50px 0 0; }
  @media (max-width: 1223px) {
    .compare {
      margin: 0; } }
  @media (max-width: 768px) {
    .compare {
      display: none; } }

.cart {
  margin: 0 32px 0 0;
  color: #8D8D8D;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  @media (max-width: 1223px) {
    .cart {
      margin: 0; } }
  @media (max-width: 768px) {
    .cart {
      margin-left: auto; } }
  .cart::before {
    content: '';
    margin-right: 9px; }

.currency {
  border: 1px solid #FF5500;
  padding: 10px 12px; }
  @media (max-width: 768px) {
    .currency {
      display: none; } }
  .currency__title {
    color: #8D8D8D; }
    .currency__title span {
      font-weight: 600;
      color: #fff; }

.catalog {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  .catalog__item a {
    display: block;
    padding: 8px 0;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    color: #fff; }
    @media (max-width: 1223px) {
      .catalog__item a {
        font-size: 12px; } }
  .catalog__item--target a {
    color: #FF5500; }

.footer {
  background: #242424;
  margin-top: auto;
  padding: 40px 0 0 0; }
  @media (max-width: 768px) {
    .footer {
      padding: 33px 0 0 0; } }
  .footer__inner {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start; }
    @media (max-width: 1223px) {
      .footer__inner {
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
            -ms-flex-pack: justify;
                justify-content: space-between; } }
    @media (max-width: 768px) {
      .footer__inner {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
            -ms-flex-direction: column;
                flex-direction: column; } }
  .footer__title {
    margin-bottom: 16px;
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    color: #fff; }
    @media (max-width: 992px) {
      .footer__title {
        font-size: 16px;
        margin-bottom: 8px; } }
    @media (max-width: 768px) {
      .footer__title {
        font-size: 18px;
        margin-bottom: 16px; } }
  @media (max-width: 768px) {
    .footer__list {
      display: none; } }
  .footer__list li:not(:last-child) {
    margin-bottom: 8px; }
  .footer__list li a {
    color: #AEAFB3;
    display: block; }
    @media (max-width: 992px) {
      .footer__list li a {
        font-size: 12px;
        line-height: 20px; } }
  .footer__target a {
    color: #FF5500; }
  .footer__col {
    width: 23%; }
    @media (max-width: 1223px) {
      .footer__col {
        width: 24%; } }
    @media (max-width: 768px) {
      .footer__col {
        width: 100%; } }
  .footer__buyer {
    margin-left: auto; }
    @media (max-width: 1223px) {
      .footer__buyer {
        margin-left: 0; } }
  .footer__contacts {
    width: 25%; }
    @media (max-width: 1223px) {
      .footer__contacts {
        width: 24%; } }
    @media (max-width: 768px) {
      .footer__contacts {
        width: 100%; } }
  .footer__number {
    margin-bottom: 4px;
    font-size: 30px;
    font-weight: 500;
    line-height: 38px;
    color: #FF5500; }
    @media (max-width: 1223px) {
      .footer__number {
        font-size: 20px; } }
    @media (max-width: 992px) {
      .footer__number {
        font-size: 16px; } }
  .footer__numberWrap {
    margin-top: 16px; }
  .footer__numberTitle {
    color: #fff;
    margin-bottom: 8px; }
  .footer__numberSubtitle {
    font-size: 12px;
    font-weight: 400;
    line-height: 22px;
    color: #AEAFB3; }
    @media (max-width: 992px) {
      .footer__numberSubtitle {
        font-size: 10px;
        line-height: 18px; } }
  .footer__email {
    margin-top: 8px; }
    .footer__email span {
      font-weight: 500;
      color: #fff; }
    .footer__email a {
      color: #AEAFB3; }
  .footer__powered {
    margin-top: 32px; }
    .footer__poweredTitle {
      color: #AEAFB3;
      margin-bottom: 8px; }
      @media (max-width: 992px) {
        .footer__poweredTitle {
          font-size: 10px; } }
  .footer__bottom {
    border-top: 1px solid #8B8B8B;
    padding: 24px 0;
    margin-top: 32px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    @media (max-width: 768px) {
      .footer__bottom {
        border-top: none;
        margin-top: 16px;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: start;
        -webkit-align-items: flex-start;
            -ms-flex-align: start;
                align-items: flex-start; } }
  .footer__logo {
    display: block;
    margin-right: 32px;
    max-width: 180px; }
    @media (max-width: 768px) {
      .footer__logo {
        -webkit-box-ordinal-group: 3;
        -webkit-order: 2;
            -ms-flex-order: 2;
                order: 2;
        margin: 0 0 12px 0; } }
  .footer__copy {
    color: #AEAFB3; }
    @media (max-width: 992px) {
      .footer__copy {
        font-size: 12px; } }
    @media (max-width: 768px) {
      .footer__copy {
        -webkit-box-ordinal-group: 4;
        -webkit-order: 3;
            -ms-flex-order: 3;
                order: 3; } }
  .footer__payments {
    margin-left: auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    @media (max-width: 768px) {
      .footer__payments {
        margin: 0 0 30px 0;
        padding-bottom: 64px;
        -webkit-box-ordinal-group: 2;
        -webkit-order: 1;
            -ms-flex-order: 1;
                order: 1;
        width: 100%;
        border-bottom: 1px solid #8B8B8B; } }
    .footer__payments img:first-child {
      margin-right: 24px; }

.socials--footer {
  margin-top: 36px; }
  @media (max-width: 768px) {
    .socials--footer {
      display: none; } }

.socials__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  @media (max-width: 992px) {
    .socials__list {
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
              justify-content: space-between; } }
  .socials__list li:not(:last-child) {
    margin-right: 32px; }
    @media (max-width: 992px) {
      .socials__list li:not(:last-child) {
        margin-right: 0; } }

.sidebar {
  display: block; }

.modal {
  display: block; }

.main {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.index {
  display: block; }

.category {
  display: block; }

.product {
  display: block; }

.productBig {
  display: block; }

.blog {
  display: block; }

.article {
  display: block; }

.about {
  display: block; }
