footer.footer
  .container
    .footer__inner

      .footer__col.footer__catalog
        .footer__title Каталог
        button.btn.ic-arrow_down.visible-xs.footer__opener
        ul.footer__list
          li.footer__target
            a(href="#") SALE
          li
            a(href="#") Б/У техника
          li
            a(href="#") Мотоциклы
          li
            a(href="#") Квадроциклы
          li
            a(href="#") Скутеры
          li
            a(href="#") Электротраспорт
          li
            a(href="#") Снегоходы
          li
            a(href="#") Водная техника
          li
            a(href="#") Прицепы
          li
            a(href="#") Экипировка
          li
            a(href="#") Запчасти
          li
            a(href="#") Аксессуары

      .footer__col.footer__info
        .footer__title Информация
        button.btn.ic-arrow_down.visible-xs.footer__opener
        ul.footer__list
          li
            a(href="#") О компании
          li
            a(href="#") Новости
          li
            a(href="#") Вакансии
          li
            a(href="#") Мотосервис
          li
            a(href="#") Условия пользования
          li
            a(href="#") Политика конфиденциальности
          
        .socials.socials--footer 
          .socials__title.footer__title Присоединияйтесь
          ul.socials__list
            li
              a(href="#" target="_blank").ic-facebook_orange
            li
              a(href="#" target="_blank").ic-instagram_orange
            li
              a(href="#" target="_blank").ic-youtube_orange 
            li
              a(href="#" target="_blank").ic-twitter_orange 

      .footer__col.footer__buyer
        .footer__title Покупателю
        button.btn.ic-arrow_down.visible-xs.footer__opener
        ul.footer__list
          li
            a(href="#") Связаться с нами
          li
            a(href="#") Возврат товара
          li
            a(href="#") Личный кабинет
          li
            a(href="#") Доставка и оплата
          li
            a(href="#") Бренды
          li
            a(href="#") Акции

      .footer__col.footer__contacts
        .footer__title Контакты
        button.btn.ic-arrow_down.visible-xs.footer__opener
        ul.footer__list
          li
            a(href="#") Магазины
          li
            a(href="#") Мотосервисы
        
        .footer__numberWrap
          .footer__numberTitle Контактный номер телефона:
          a(href="tel:+380800316173").footer__number +38 (0 800) 316-173
          .footer__numberSubtitle (Стоимость звонков согласно тарифам вашего оператора)
        
        .footer__email
          span Email: 
          a(href="mailto:help@artmoto.ua") help@artmoto.ua
        
        .socials.socials--footerMobile.visible-xs
          .socials__title.footer__title Присоединияйтесь
          ul.socials__list
            li
              a(href="#" target="_blank").ic-facebook_orange
            li
              a(href="#" target="_blank").ic-instagram_orange
            li
              a(href="#" target="_blank").ic-youtube_orange 
            li
              a(href="#" target="_blank").ic-twitter_orange
        
        .footer__powered
          .footer__poweredTitle Разработка и поддержка:
          a(href="https://apri-code.com/uslugi/sozdanie-internet-magazina/" target="_blank").footer__poweredLogo
            img(src="./img/apricode.svg", alt="Apricode" width="133" height="31")
    
    .footer__bottom

      a(href="./").footer__logo
        img(src="./img/logo.svg", alt="Logo" width="180" height="58")

      .footer__copy © Всі права захищені ООО «АРТ-МОТО», 2010–2021

      .footer__payments
        img(src="./img/mastercard.svg", alt="Mastercard" width="65" height="39")
        img(src="./img/visa.svg", alt="Visa" width="80" height="25")



include ../../modals/credits.pug
include ../../inc/scripts.pug
include ../../inc/styles.pug
