.modal#modalChanged.modalInfo
  .modal__win.scroll
    button.btn.modal__close.ic-close_modal
    .modal__header 
      .title Пароль успешно изменен!
      .subtitle Ваш пароль был изменен. Теперь Вы можете войти в систему с использованием нового пароля.