.modal#modalForgot
  .modal__win.scroll
    button.btn.modal__close.ic-close_modal
    .modal__header 
      .title Забыли пароль?
      .subtitle Укажите ваш e-mail для отправки ссылки на сброс пароля.
    .modal__content 
      form.form.form--control
        .field 
          input(type="text" name="email" placeholder="Email").input.required
        button.btn.btn--prim.modal__submit Отправить