.modal#modalRegistered.modalInfo
  .modal__win.scroll
    button.btn.modal__close.ic-close_modal
    .modal__header 
      .title Спасибо за регистрацию!
      .subtitle Вам на почту будет отправленно письмо с сылкой для подтверждения регистрации.