.modal#modalReseted.modalInfo
  .modal__win.scroll
    button.btn.modal__close.ic-close_modal
    .modal__header 
      .title Сброс пароля
      .subtitle На ваш e-mail была отправлена ссылка на сброс пароля. Если ссылка не пришла-проверьте спам или попробуйте отправить еще раз.