- var title = "About";

doctype html
html(lang="en")
  include ../blocks/head.pug
  body.root.page-about

    header.header.header--absolute
      include ../blocks/header/root.pug
    
    include ../blocks/main/slider.pug

    main.main fsd

    include ../blocks/footer/footer.pug