- var title = "Catalog";

doctype html
html(lang="en")
  include ../blocks/head.pug
  body.root.page-catalog

    header.header
      include ../blocks/header/root.pug
    

    main.main fsd

    include ../blocks/footer/footer.pug