- var title = "Main";

doctype html
html(lang="en")
  include ../blocks/head.pug
  body.root.page-home

    header.header.header--absolute.header--opacity
      include ../blocks/header/root.pug
    
    include ../blocks/main/slider.pug

    main.main
      .container
        | Lorem ipsum, dolor sit amet consectetur adipisicing elit. Veritatis assumenda, in hic sunt, inventore non qui, maxime beatae at laborum atque provident sed ratione necessitatibus ipsum ipsa incidunt culpa veniam quis temporibus distinctio! Nesciunt ab dolor ratione dolores enim cumque provident sapiente vero molestiae sit quod similique fugiat amet, ipsa quaerat aspernatur explicabo eos expedita repellat ex eaque possimus ea laborum! Sapiente exercitationem, error impedit incidunt sit explicabo. Tenetur itaque repellat ipsum quas? Quasi dolores in exercitationem ipsa. Nobis, quibusdam aperiam esse numquam iste repellendus dolores totam at! Veniam aliquid dolorum quos sapiente non obcaecati quod esse ut culpa magnam. Consequuntur quo, deserunt ullam velit illo qui perferendis recusandae exercitationem quam quas officia beatae voluptatibus id ipsam, iste tempore alias natus dolores optio suscipit temporibus itaque. Velit fugit eveniet consectetur, quisquam architecto exercitationem atque aut numquam, molestiae veniam dignissimos praesentium illum delectus maiores recusandae, nam suscipit sint blanditiis! Nisi esse quas molestias voluptas aliquam ex sit quis qui, tenetur architecto doloremque ipsum reiciendis commodi quibusdam quasi quos repellendus numquam aspernatur doloribus facilis voluptates saepe quidem! Ut optio consequatur iste dolorum porro aperiam expedita, doloribus quo ipsum delectus saepe possimus placeat perferendis nostrum molestias unde ipsam alias nulla enim illum tempore! Sit corporis voluptates libero eligendi. Cumque architecto iste odit hic quaerat fuga reprehenderit iusto accusamus debitis, recusandae consectetur est tenetur magni omnis iure voluptatum, et accusantium animi explicabo labore excepturi placeat sequi distinctio! Beatae quasi dignissimos possimus numquam delectus nam, sed adipisci unde, sequi tempore nihil reprehenderit, laudantium vel. Soluta voluptates eius eos voluptatem incidunt debitis officiis iste eligendi doloribus, nam non cumque quibusdam quasi deserunt vel expedita. Vero sint modi voluptates qui architecto aut saepe tenetur veniam consequatur hic, nisi sunt quidem corrupti quod suscipit eius eum id velit. Ducimus, laborum aspernatur necessitatibus similique accusantium accusamus, perferendis ad voluptatum sint omnis provident aliquam doloremque illo hic animi? Incidunt nulla voluptatem sit soluta similique dignissimos voluptates quos accusantium assumenda totam, illum ipsa autem sint unde et ipsam, mollitia consequatur aliquam. Suscipit explicabo repellat itaque.

    include ../blocks/footer/footer.pug