- var title = "Main";

doctype html
html(lang="en")
  include ../blocks/head.pug
  body.root.page-home

    header.header.header--absolute.header--opacity
      include ../blocks/header/root.pug
    
    include ../blocks/main/slider.pug

    main.main
      include ../blocks/main/product_populars.pug
      include ../blocks/main/news.pug
      include ../blocks/main/credits.pug
      include ../blocks/main/product_equipments.pug
      include ../blocks/main/brands.pug
      include ../blocks/main/about.pug
      include ../blocks/main/blog.pug
      include ../blocks/main/subscribe.pug

    include ../blocks/footer/footer.pug