include ../storage/gallery.pug

-
  let title = "Motoservice";
  let breadcrumbs = [
    {
      href: './',
      label: 'Главная'
    },
    {
      href: null,
      label: 'Мотосервис',
      last: true
    }
  ];

doctype html
html(lang="en")
  include ../blocks/head.pug
  body.root.page-info

    header.header
      include ../blocks/header/root.pug
    

    main.servicePage
      .container

        section.breadcrumbs
          +breadcrumbs(breadcrumbs)

        h1.heading Мотосервис

        section.infoPresent.blured-black
          img(src="./img/info/service-present.jpg", alt="").infoPresent__bg
          img(src="./img/info/service.png", alt="").infoPresent__img
          .infoPresent__content 
            .heading Мотосервис от АртМото
            .title Ремонт и обслуживание:
            ul.list.list--check 
              li Мотоциклов
              li Квадроциклов и багги
              li Снегоходов
              li Скутеров и мопедов
              li Установка дополнительного оборудывания и тюнинг
          
        section.content 
          .heading Ремонт и обслуживание мототехники
          p Наш мотосервис – это квалифицированные специалисты с многолетним опытом ремонта и технического обслуживания такой техники как : мотоциклы, квадроциклы, скутеры, багги, а так же снегоходы. Мы выполняем ремонт техники всех известных мировых производителей. Имеющиеся в наличии инструменты и оборудование позволяют выполнять работы любой сложности, а наш отдел запчастей быстро и эффективно поможет подобрать необходимую запчасть или расходные материалы для ремонта Вашей техники. Также мотосервис «АРТМОТО» выполняет установку дополнительного оборудования и всевозможного тюнинга. Если у Вас нет возможности своими силами доставить технику на ремонт или техническое обслуживание, мы можем эвакуировать Ваше транспортное средство нашим, специально оборудованным для перевозки, автомобилем.
          p На сегодняшний день квадроциклы играют немалую роль в сфере отдыха и развлечений, а также в других областях жизни. В частности, люди, неравнодушные к активному отдыху, с особым почтением относятся к этому виду транспорта. Но не секрет, что квадроциклы требуют ухода. Выполнить все необходимые процедуры, включая ремонт квадроциклов в Харькове самостоятельно, далеко не всегда представляется возможным. Тем более, этот процесс требует не только определённых навыков и умений, но и времени.
          
          .subheading Преимущества нашего мотосервиса:
          ul.list.list--default.list--check 
            li Многолетний опыт обслуживания и ремонта мототехники. Специалисты нашего сервиса занимаются ремонтом с 2003 года;
            li Доступные цены и высокое качество;
            li Самое современное оборудование;
            li Быстрое обслуживание и ремонт мототехники (мы всегда стараемся вернуть Вам Вашего железного коня как можно скорее);
            li Мы говорим только правду о состоянии ТС и степени необходимости его ремонта;
            li Наличие расходных материалов и запчастей для различной мототехники.
          p Выполняя ремонт скутеров в Харькове, как и любой другой мототехники, крайне важно иметь специализированное оборудование и инструмент. В нашей компании есть всё необходимое!
          p Благодаря имеющемуся инструментарию и высокой квалификации сотрудников, мы можем уверенно утверждать, что ваша техника получит качественный ремонт и обслуживание в максимально сжатые сроки!
          p Ко всем клиентам у нас индивидуальный подход

        section.gallery 
          .container
            +gallery(images)

        section.contact
          .heading Запишитесь прямо сейчас!
          .subtitle Оставьте завку и краткое описание.
            br
            | Мы подберем для вас лучшее время!
          .contact__row 
          
            include ../blocks/contact_form.pug

            .contact__info 
              .contact__area.contact__addresses 
                .subtitle Адрес мотосервисов:
                p г.Харьков, ул. Шевченко 38А
                p г.Черкассы, ул. Одесская 50
                p г.Днепр, наб. Победы 106а
              .contact__area.contact__phones 
                .subtitle Телефоны:
                p 
                  a(href="tel:+380664931000") +38 (066) 493 1000
                  a(href="tel:+380964931000") +38 (096) 493 1000
                p 
                  a(href="tel:+380734931000") +38 (073) 493 1000
                  a(href="tel:+380800316178") +38 (0 800) 316-178



    include ../blocks/footer/footer.pug