-
  let title = "Список страниц";
  let breadcrumbs = [
    {
      href: './',
      label: 'Главная'
    },
    {
      href: null,
      label: 'Список страниц',
      last: true
    }
  ];

doctype html
html(lang="en")
  include ../blocks/head.pug
  body.root.page-product

    header.header
      include ../blocks/header/root.pug
    

    main.product
      .container

        section.breadcrumbs
          +breadcrumbs(breadcrumbs)

        h1.heading Список страниц

        section.content
          ul.ul 
            li 
              a(href="./" target="_blank") Главная
            li 
              a(href="./catalog.html" target="_blank") Каталог
            li 
              a(href="./product.html" target="_blank") Карточка товара
            li 
              a(href="./product-big.html" target="_blank") Карточка товара (расширенная)            
            li 
              a(href="./cart.html" target="_blank") Корзина
            li 
              a(href="./checkout.html" target="_blank") Оформление заказа
            li 
              a(href="./success.html" target="_blank") Успешный заказ
            li 
              a(href="./compare.html" target="_blank") Сравнение товаров
            li 
              a(href="./account-info.html" target="_blank") Личный кабинет (информация)
            li 
              a(href="./account-orders.html" target="_blank") Личный кабинет (история заказов)
            li 
              a(href="./account-wishlist.html" target="_blank") Личный кабинет (избранные товары)
            li 
              a(href="./account-bonus.html" target="_blank") Личный кабинет (бонусный счет)
            li 
              a(href="./blog.html" target="_blank") Блог
            li 
              a(href="./article.html" target="_blank") Статья
            li 
              a(href="./about.html" target="_blank") О компании
            li 
              a(href="./credit.html" target="_blank") Кредит
            li 
              a(href="./service.html" target="_blank") Мотосервис
            li 
              a(href="./contacts.html" target="_blank") Контакты
            li 
              a(href="./404.html" target="_blank") 404
            
          hr
          .subtitle Всего: 19



    include ../blocks/footer/footer.pug