.productDelivery
  .container
    .heading Доставка и оплата 
    .productDelivery__content.swiper-container.swiper-visible-slides
      .swiper-wrapper 
        .swiper-slide
          .productDelivery__text
            .title Доставка
            p.scroll Мы рады сообщить вам, что в нашем салоне нам удалось наладить четкую систему доставки, поэтому вы можете приобрести мототовар, находясь практически в любом регионе Украины. Имеющиеся у нас партнерские соглашения с целым рядом крупнейших перевозчиков гарантируют быструю и сравнительно недорогую транспортировку грузов. Мы сотрудничаем с ведущими компаниями перевозчиков , среди них «Новая Почта», «ИН-Тайм», «Евроэкспресс» и «Мистэкспресс» .
          table.productDelivery__tariffs
            thead 
              th Служба доставки
              th Стоимость
            tbody
              tr 
                td
                  img(src="./img/np.svg" alt="")
                td от 150 ₴
              tr 
                td
                  img(src="./img/meest.svg" alt="")
                td от 250 ₴
              tr 
                td
                  img(src="./img/intime.svg" alt="")
                td от 350 ₴
        .swiper-slide
          .productDelivery__text
            .title Доставка1
            p.scroll Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati voluptatum saepe in qui, et adipisci nemo totam laudantium iure earum tempora provident quisquam dignissimos accusamus iusto nulla hic est natus officiis asperiores amet! Officiis nam veniam possimus, nesciunt dolorum iure debitis ducimus doloremque, totam suscipit vitae dolorem, blanditiis necessitatibus est.
          table.productDelivery__tariffs
            thead 
              th Служба доставки
              th Стоимость
            tbody
              tr 
                td
                  img(src="./img/np.svg" alt="")
                td от 150 ₴
              tr 
                td
                  img(src="./img/meest.svg" alt="")
                td от 250 ₴
              tr 
                td
                  img(src="./img/intime.svg" alt="")
                td от 350 ₴
      .swiper-pagination.swiper-pagination-static