section.feedback.blured-black
  img.feedback__bg(src="./img/bg_feedback.jpg" alt="")
  .container 
    .feedback__content
      .feedback__text
        .heading Остались вопросы?
        p Оставьте ваши контактные данные и краткое описание вопроса который вас интересует.
        p Наши специалисты свяжутся с вами в ближайшее время!
      form.feedback__form.form.form--control
        input(type="text" name="name" placeholder="Имя").input.required
        input(type="text" name="phone" placeholder="+38 (0--) -- -- ---").input.required
        textarea(type="text" name="message" placeholder="Сообщение").input.required
        button.btn.btn--prim ОТПРАВИТЬ
    img.feedback__image(src="./img/bike.png" alt="" data-aos="zoom-in" data-aos-duration="800" data-aos-anchor-placement="center-center")