section.pagination
  ul.pagination__list 
    li
      a(href="#").pagination__item.pagination__item--active 1
    li
      a(href="#").pagination__item 2
    li
      a(href="#").pagination__item 3
    li.pagination__item.pagination__item--delim ...
    li
      a(href="#").pagination__item 10
  
  button.btn.btn--dashed.pagination__more
    span Загрузить еще