include ../storage/products_custom.pug

.container
  .heading Эти товары могут вас заинтересовать
  .productsListCustom.swiper-container.swiper-blured.swiper-visible
    .swiper-button-prev
    .swiper-wrapper
      each val in products_custom
        .swiper-slide
          +preview_custom(val)
    .swiper-button-next
    .swiper-pagination.swiper-pagination-static

    