.sorting
  .sorting__title Сортировать:
  .dropdown.dropdown--default.dropdown--mobile
    .dropdown__btn.ic-arrow_down По умолчанию
    .sorting__items.dropdown__inner
      a(href="#").sorting__item.sorting__item--active.btn.btn--dashed 
        span По умолчанию
      a(href="#").sorting__item.btn.btn--dashed
        span По названию
      a(href="#").sorting__item.btn.btn--dashed 
        span По цене
      a(href="#").sorting__item.btn.btn--dashed 
        span По рейтингу