.sorting
  .sorting__title Сортировать:
  .sorting__items
    a(href="#").sorting__item.sorting__item--active.btn.btn--dashed 
      span По умолчанию
    a(href="#").sorting__item.btn.btn--dashed
      span По названию
    a(href="#").sorting__item.btn.btn--dashed 
      span По цене
    a(href="#").sorting__item.btn.btn--dashed 
      span По рейтингу