-
  let navigation = [
    {
      title: 'Личные данные',
      href: './account-info.html'
    },
    {
      title: 'История заказов',
      href: './account-orders.html'
    },
    {
      title: 'Избранное',
      href: './account-wishlist.html'
    },
    {
      title: 'Бонусный счет',
      href: './account-bonus.html'
    }
  ]