-
  let articles = [
    {
      title: 'Открытие нового мотосалона в Черкассах',
      preview: 'Дорогие друзья, нашей миссией является предоставить клиенту максимальное удобство в выборе своего',
      date: '05.08.2020',
      rate: '4.5',
      thumb: './img/blog/thumb1.jpg',
      categories: [
        'Новости',
        'ArtMoto'
      ]
    },
    {
      title: 'Как правильно хранить мототехнику зимой',
      preview: 'В конце сезона наступает время, когда мотолюбителю необходимо отправлять на зимнее хранение — скутер, мотоцикл',
      date: '03.11.2020',
      rate: '5.0',
      thumb: './img/blog/thumb2.jpg',
      categories: [
        'Советы',
        'Хранение'
      ]
    },
    {
      title: 'Как купить мотоцикл и не попасть на мошенников.',
      preview: 'Последнее время к нам в мотосалон всё чаще стали обращаться клиенты, которые стали жертвами',
      date: '05.07.2018',
      rate: '4.0',
      thumb: './img/blog/thumb3.jpg',
      categories: [
        'Новости',
        'ArtMoto'
      ]
    },
    {
      title: 'Открытие нового мотосалона в Черкассах',
      preview: 'Дорогие друзья, нашей миссией является предоставить клиенту максимальное удобство в выборе своего',
      date: '05.08.2020',
      rate: '4.5',
      thumb: './img/blog/thumb1.jpg',
      categories: [
        'Новости',
        'ArtMoto'
      ]
    },
    {
      title: 'Как правильно хранить мототехнику зимой',
      preview: 'В конце сезона наступает время, когда мотолюбителю необходимо отправлять на зимнее хранение — скутер, мотоцикл',
      date: '03.11.2020',
      rate: '5.0',
      thumb: './img/blog/thumb2.jpg',
      categories: [
        'Советы',
        'Хранение'
      ]
    },
    {
      title: 'Как купить мотоцикл и не попасть на мошенников.',
      preview: 'Последнее время к нам в мотосалон всё чаще стали обращаться клиенты, которые стали жертвами',
      date: '05.07.2018',
      rate: '4.0',
      thumb: './img/blog/thumb3.jpg',
      categories: [
        'Новости',
        'ArtMoto'
      ]
    }
  ]