-
  let products = [
    {
      thumb: './img/cart/1.png',
      name: 'Мотошлем LS2 FF353 RAPID BOHO WHITE-BLACK-PINK',
      special: '2700.50 ₴',
      price: '2538.90 ₴'
    },
    {
      thumb: './img/cart/2.png',
      name: 'Мотоперчатки Elemento 212',
      special: null,
      price: '418.50 ₴'
    },
    {
      thumb: './img/cart/3.png',
      name: 'Штаны FOX 360 Racepant red',
      special: null,
      price: '83.70 ₴'
    },
    {
      thumb: './img/cart/4.png',
      name: 'Кроссовые очки PROGRIP BASE LINE GOGGLES Yellow',
      special: '890.20 ₴',
      price: '809.10 ₴'
    },
    {
      thumb: './img/cart/5.png',
      name: 'Мотошина SHINKO 130/70R18 63H TL/SE890',
      special: null,
      price: '3 152.70 ₴'
    }
  ]