-
 let catalog_products = [
   {
     name: ' DRAKEN MP4 C4 Matt Fluor Orange',
     model: 'AXXIS',
     price: '2500.50 ₴',
     special: '3250 ₴',
     thumb: './img/products/4.png',
     stickers: [
       {
         title: 'новинка',
         modifier: 'new'
       }
     ]
   },
   {
     name: 'FF353 Rapid Cromo Matt Fluo',
     model: 'LS2',
     price: '2548 ₴',
     thumb: './img/products/5.png',
     stickers: [
       {
         title: 'скидка',
         modifier: 'discount'
       }
     ]
   },
   {
     name: 'FF353 Rapid Naughty Matt Black',
     model: 'LS2',
     price: '2538.90 ₴',
     thumb: './img/products/6.png',
     stickers: [
       {
         title: 'хит продаж',
         modifier: 'bestseller'
       }
     ]
   },
   {
     name: 'Joker Gloss White',
     model: 'MT TARGO',
     special: '3250 ₴',
     price: '2790 ₴',
     thumb: './img/products/7.png',
     stickers: [
       {
         title: 'б/у',
         modifier: 'bu'
       }
     ]
   },
   {
     name: ' DRAKEN MP4 C4 Matt Fluor Orange',
     model: 'AXXIS',
     price: '2500.50 ₴',
     thumb: './img/products/4.png',
     stickers: [
       {
         title: 'новинка',
         modifier: 'new'
       },
       {
         title: 'скидка',
         modifier: 'discount'
       },
       {
         title: 'хит продаж',
         modifier: 'bestseller'
       },
       {
         title: 'б/у',
         modifier: 'bu'
       },
       {
         title: 'бесплатная доставка',
         modifier: 'freeshiping'
       }
     ]
   },
   {
     name: 'FF353 Rapid Cromo Matt Fluo',
     model: 'LS2',
     price: '2548 ₴',
     thumb: './img/products/5.png',
     stickers: [
       {
         title: 'бесплатная доставка',
         modifier: 'freeshiping'
       }
     ]
   },
   {
     name: 'FF353 Rapid Naughty Matt Black',
     model: 'LS2',
     price: '2538.90 ₴',
     thumb: './img/products/6.png'
   },
   {
     name: 'Joker Gloss White',
     model: 'MT TARGO',
     price: '2790 ₴',
     thumb: './img/products/7.png'
   },
   {
     name: ' DRAKEN MP4 C4 Matt Fluor Orange',
     model: 'AXXIS',
     price: '2500.50 ₴',
     thumb: './img/products/4.png'
   },
   {
     name: 'FF353 Rapid Cromo Matt Fluo',
     model: 'LS2',
     price: '2548 ₴',
     thumb: './img/products/5.png'
   },
   {
     name: 'FF353 Rapid Naughty Matt Black',
     model: 'LS2',
     price: '2538.90 ₴',
     thumb: './img/products/6.png'
   },
   {
     name: 'Joker Gloss White',
     model: 'MT TARGO',
     special: '3250 ₴',
     price: '2790 ₴',
     thumb: './img/products/7.png'
   },
 ];