-
  let names = [
    'Производитель',
    'Страна производитель',
    'Тип шлема',
    'Размер',
    'Пол',
    'Тонированный визор',
    'Цвет',
    'Состояние',
  ];

  let characteristics = [
    {
      content: [
        'Icon',
        'Китай',
        'Закрытый шлем интеграл',
        'XL',
        'Мужской',
        'Да',
        'Белый',
        'Новое'
      ]      
    },
    {
      content: [
        'Icon2',
        'США',
        'Открытый шлем интеграл',
        'XL',
        'Мужской',
        'Да',
        'Черный',
        'Новое'
      ]      
    },
    {
      content: [
        'Icon3',
        'Испания',
        'Закрытый шлем интеграл',
        'XL',
        'Мужской',
        'Да',
        'Черный',
        'Новое'
      ]      
    },
    {
      content: [
        'Icon4',
        'Бельгия',
        'Закрытый шлем интеграл',
        'XL',
        'Женский',
        'Да',
        'Черный',
        'Новое'
      ]      
    },
    {
      content: [
        'Icon5',
        'Китай',
        'Закрытый шлем интеграл',
        'XL',
        'Мужской',
        'Да',
        'Черный',
        'Новое'
      ]      
    },
    {
      content: [
        'Icon6',
        'Германия',
        'Закрытый шлем интеграл',
        'XL',
        'Мужской',
        'Да',
        'Черный',
        'Новое'
      ]      
    },
    {
      content: [
        'Icon7',
        'Китай',
        'Закрытый шлем интеграл',
        'XL',
        'Мужской',
        'Да',
        'Черный',
        'Новое'
      ]      
    },
    {
      content: [
        'Icon8',
        'Китай',
        'Закрытый шлем интеграл',
        'XL',
        'Мужской',
        'Да',
        'Черный',
        'Новое'
      ]      
    },
  ]