-
  let filters = [
    'Детские шлемы',
    'Мото перчатки / Вело перчатки',
    'Шлем открытый',
    'Шлем кроссовый',
    'Шлем трансформер',
    'Моточерепахи / Наколенники ',
    'Мото очки / Вело очки / Очки спортивные / Очки кроссовые',
    'Ручки руля универсальные (мото / вело)',
    'Рюкзаки / Сумки'
  ];