-
 let images = [
   "./img/info/gallery1.jpg",
   "./img/info/gallery1.jpg",
   "./img/info/gallery1.jpg",
   "./img/info/gallery1.jpg",
   "./img/info/gallery1.jpg",
   "./img/info/gallery1.jpg"
 ];