-
 let products_default = [
   {
     name: ' DRAKEN MP4 C4 Matt Fluor Orange',
     model: 'AXXIS',
     price: '2500.50 ₴',
     special: '3250 ₴',
     thumb: './img/products/4.png'
   },
   {
     name: 'FF353 Rapid Cromo Matt Fluo',
     model: 'LS2',
     price: '2548 ₴',
     thumb: './img/products/5.png'
   },
   {
     name: 'FF353 Rapid Naughty Matt Black',
     model: 'LS2',
     price: '2538.90 ₴',
     thumb: './img/products/6.png'
   },
   {
     name: 'Joker Gloss White',
     model: 'MT TARGO',
     special: '3250 ₴',
     price: '2790 ₴',
     thumb: './img/products/7.png'
   },
   {
     name: ' DRAKEN MP4 C4 Matt Fluor Orange',
     model: 'AXXIS',
     price: '2500.50 ₴',
     thumb: './img/products/4.png'
   },
   {
     name: 'FF353 Rapid Cromo Matt Fluo',
     model: 'LS2',
     price: '2548 ₴',
     thumb: './img/products/5.png'
   },
   {
     name: 'FF353 Rapid Naughty Matt Black',
     model: 'LS2',
     price: '2538.90 ₴',
     thumb: './img/products/6.png'
   },
   {
     name: 'Joker Gloss White',
     model: 'MT TARGO',
     price: '2790 ₴',
     thumb: './img/products/7.png'
   }
 ];