-
  let adv_slides = [
    {
      img: './img/product/slide1.jpg',
      title: 'УПРАВЛЯЕМОСТЬ',
      content: 'Восхитительно манёвренный, точный и волнительный в плане своих ездовых возможностей. Благодаря превосходным узлам и элементам шасси, удобному низкому сиденью и первоклассному оборудованию новый Trident является действительно лучшим мотоциклом по управляемости в своём классе.'
    },
    {
      img: './img/product/slide2.jpg',
      title: 'title2',
      content: 'content2'
    },
    {
      img: './img/product/slide3.jpg',
      title: 'title3',
      content: 'content3'
    },
    {
      img: './img/product/slide4.jpg',
      title: 'title4',
      content: 'content4'
    },
    {
      img: './img/product/slide1.jpg',
      title: 'title5',
      content: 'content5'
    },
    {
      img: './img/product/slide2.jpg',
      title: 'title6',
      content: 'content6'
    },
    {
      img: './img/product/slide3.jpg',
      title: 'title7',
      content: 'content7'
    }
  ];