-
  let chars = [
    {
      opened: true,
      title: 'ДВИГАТЕЛЬ И ТРАНСМИССИЯ',
      content: [
        {
          key: 'Тип',
          value: '3-цилиндровый, рядный, водяного охлаждения, DOHC'
        },
        {
          key: 'Объём Двигателя',
          value: '660 см3'
        },
        {
          key: 'Диаметр цилиндра',
          value: '74 мм'
        },
        {
          key: 'Ход поршня',
          value: '51.1 мм'
        },
        {
          key: 'Степень сжатия',
          value: '11.95:1'
        },
        {
          key: 'Мощность',
          value: '81 лс на 10,250 об/мин'
        },
        {
          key: 'Крутящий момент',
          value: '64 Нм на 6,250 об/мин'
        },
        {
          key: 'Система впрыска',
          value: 'Многоточечный электронный впрыск с SAI, управление по проводам'
        },
        {
          key: 'Привод на колесо',
          value: 'Цепь с Х-образными кольцами'
        },
        {
          key: 'Сцепление',
          value: 'Проскальзывающее, центробежного типа, многодисковое в масляной ванне'
        },
        {
          key: 'КПП',
          value: 'Проскальзывающее, центробежного типа, многодисковое в масляной ванне'
        }
      ]
    },
    {
      title: 'ШАССИ, ХОДОВАЯ И ЭЛЕКТРОНИКА',
      content: [
        {
          key: 'Характеристика',
          value: 'Значение'
        },
        {
          key: 'Характеристика',
          value: 'Значение'
        },
        {
          key: 'Характеристика',
          value: 'Значение'
        },
        {
          key: 'Характеристика',
          value: 'Значение'
        },
        {
          key: 'Характеристика',
          value: 'Значение'
        },
        {
          key: 'Характеристика',
          value: 'Значение'
        },
        {
          key: 'Характеристика',
          value: 'Значение'
        },
      ]
    },
    {
      title: 'ГАБАРИТЫ, ОБЪЕМ И ВЕС',
      content: [
        {
          key: 'Характеристика',
          value: 'Значение'
        },
        {
          key: 'Характеристика',
          value: 'Значение'
        },
        {
          key: 'Характеристика',
          value: 'Значение'
        },
        {
          key: 'Характеристика',
          value: 'Значение'
        },
        {
          key: 'Характеристика',
          value: 'Значение'
        },
        {
          key: 'Характеристика',
          value: 'Значение'
        },
        {
          key: 'Характеристика',
          value: 'Значение'
        },
      ]
    }
  ];