-
 let products_custom = [
   {
     name: 'PANIGALE V2',
     model: 'DUCATI',
     price: '250 000 ₴',
     images: [
       {
         code: 'Черный',
         src: './img/products/1.png'
       },
       {
         code: 'Черно-синий',
         src: './img/products/2.png'
       },
       {
         code: 'Черно-красный',
         src: './img/products/3.png'
       }
     ],
     colors: [
       {
         code: 'Черный',
         src: './img/colors/black.svg'
       },
       {
         code: 'Черно-синий',
         src: './img/colors/black_blue.svg'
       },
       {
         code: 'Черно-красный',
         src: './img/colors/black_red.svg'
       }
     ]
   },
   {
     name: 'LF 200-14F K19',
     model: 'LIFAN',
     price: '120 950 ₴',
     images: [
       {
         code: 'Черно-синий',
         src: './img/products/2.png'
       },
       {
         code: 'Черно-красный',
         src: './img/products/3.png'
       },
       {
         code: 'Черный',
         src: './img/products/1.png'
       }
     ],
     colors: [
       {
         code: 'Черно-синий',
         src: './img/colors/black_blue.svg'
       },
       {
         code: 'Черно-красный',
         src: './img/colors/black_red.svg'
       },
       {
         code: 'Черный',
         src: './img/colors/black.svg'
       }
     ]
   },
   {
     name: 'XY 250GY-6B CROSS',
     model: 'SHINERAY',
     price: '44 212 ₴',
     images: [
       {
         code: 'Черно-красный',
         src: './img/products/3.png'
       },
       {
         code: 'Черный',
         src: './img/products/1.png'
       },
       {
         code: 'Черно-синий',
         src: './img/products/2.png'
       }
     ],
     colors: [
       {
         code: 'Черно-красный',
         src: './img/colors/black_red.svg'
       },
       {
         code: 'Черный',
         src: './img/colors/black.svg'
       },
       {
         code: 'Черно-синий',
         src: './img/colors/black_blue.svg'
       }
     ]
   },
   {
     name: 'PANIGALE V2',
     model: 'DUCATI',
     price: '250 000 ₴',
     images: [
       {
         code: 'Черный',
         src: './img/products/1.png'
       },
       {
         code: 'Черно-синий',
         src: './img/products/2.png'
       },
       {
         code: 'Черно-красный',
         src: './img/products/3.png'
       }
     ],
     colors: [
       {
         code: 'Черный',
         src: './img/colors/black.svg'
       },
       {
         code: 'Черно-синий',
         src: './img/colors/black_blue.svg'
       },
       {
         code: 'Черно-красный',
         src: './img/colors/black_red.svg'
       }
     ]
   },
   {
     name: 'LF 200-14F K19',
     model: 'LIFAN',
     price: '120 950 ₴',
     images: [
       {
         code: 'Черно-синий',
         src: './img/products/2.png'
       },
       {
         code: 'Черно-красный',
         src: './img/products/3.png'
       },
       {
         code: 'Черный',
         src: './img/products/1.png'
       }
     ],
     colors: [
       {
         code: 'Черно-синий',
         src: './img/colors/black_blue.svg'
       },
       {
         code: 'Черно-красный',
         src: './img/colors/black_red.svg'
       },
       {
         code: 'Черный',
         src: './img/colors/black.svg'
       }
     ]
   },
   {
     name: 'XY 250GY-6B CROSS',
     model: 'SHINERAY',
     price: '44 212 ₴',
     images: [
       {
         code: 'Черно-красный',
         src: './img/products/3.png'
       },
       {
         code: 'Черный',
         src: './img/products/1.png'
       },
       {
         code: 'Черно-синий',
         src: './img/products/2.png'
       }
     ],
     colors: [
       {
         code: 'Черно-красный',
         src: './img/colors/black_red.svg'
       },
       {
         code: 'Черный',
         src: './img/colors/black.svg'
       },
       {
         code: 'Черно-синий',
         src: './img/colors/black_blue.svg'
       }
     ]
   }
 ];