//font
$ff: 'Montserrat'
$fz: 14px
$fw: 400
$lh: 22px

// colors
$c_body: #fff
$c_header: #242424
$c_footer: #242424
$c_primary: #FF5500
$c_primary_hover: #EB4E00
$c_text: #414141
$c_toolbar: #212121
$transparent: rgba(0,0,0,0)

//layout
$container: 1224px
