section.about
  img.about__back(src="./img/backgrounds/layer.jpg")
  
  .container
    .about__inner(data-aos="fade-right" data-aos-duration="800" data-aos-anchor-placement="top-center")
      .about__content.scroll
        .heading О компании Artmoto
        .title Компания «АРТМОТО» на рынке мототоваров с 2007 года.
        p Мы специализируемся на прямых поставках мототехники в Украину и работаем без посредников, а следовательно — можем предложить самые низкие цены на весь ассортимент техники и товаров для наших клиентов. Придя в наш салон, который находится по адресу г. Харьков, ул. Академика Павлова 51, Вы сможете увидеть большой выбор мотоциклов, квадроциклов, скутеров и прочих сопутствующих товаров.Также, под заказ мы можем привезти любую интересующую Вас технику. Мы предлагаем купить японский мопед таких фирм как: Honda, Suzuki, Yamaha.
        a.btn.btn--prim(href="./about.html") подробнее об artmoto
    .about__images 
      img(src="./img/banners/about1.jpg", alt="" data-aos="zoom-in-up" data-aos-duration="500" data-aos-anchor-placement="top-center")
      img(src="./img/banners/about2.jpg", alt="" data-aos="zoom-in-right" data-aos-duration="500" data-aos-anchor-placement="top-center")
      img(src="./img/banners/about3.jpg", alt="" data-aos="zoom-in-down" data-aos-duration="500" data-aos-anchor-placement="top-center")
