section.credits
  img.credits__img(src="./img/backgrounds/bike.png" data-aos="fade-right" data-aos-duration="1000" data-aos-anchor-placement="top-center")
  img.credits__back(src="./img/backgrounds/layer.jpg")
  .container
    .credits__inner(data-aos="fade-left")
      .credits__content.scroll
        .heading.credits__title АРТМОТО КРЕДИТОВАНИЕ
        .title.credits__subtitle Начните ездить уже сейчас, а платите потом!
        p Мотоцикл, квадроцикл, скутер в рассрочку или кредит от АРТМОТО
        ul.list.list--check
          li Сумма рассрочки до 200 000 ₴
          li Период погашения до 36 месяцев
          li Процентная ставка от 0.9%  в месяц
          li Период рассрочки до 36 месяцев
          li Требуемый возраст от 18 до 70 лет
          li Стоимость доставки можно включить в сумму рассрочки
        a.btn.btn--prim.credits__more(href="#") подробнее