-
  let banners = [
    {
      title: 'HARLEY DAVIDSON',
      subtitle: '2018 FATBOY 114',
      text: 'Harley-Davidson Fat Boy — одна из самых знаковых моделей компании. Придуманная еще в 1976 году, платформа Softail в 80-х была воплощена в этом байке, получившем свое название в честь ядерных бомб Fat Man и Little Boy.',
      image: './img/banners/harley.png'
    },
    {
      title: 'DAVIDSON HARLEY',
      subtitle: '2020 BOYFAT 115',
      text: 'Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nisi fugiat impedit molestias eligendi, dolorem voluptatibus. Dolor doloremque obcaecati molestias voluptate qui corporis placeat veniam quam est perferendis.',
      image: './img/banners/moto.png'
    },
    {
      title: 'HARLEY DAVIDSON',
      subtitle: '2018 FATBOY 114',
      text: 'Harley-Davidson Fat Boy — одна из самых знаковых моделей компании. Придуманная еще в 1976 году, платформа Softail в 80-х была воплощена в этом байке, получившем свое название в честь ядерных бомб Fat Man и Little Boy.',
      image: './img/banners/moto2.png'
    }
    
  ]

section.banner
  img.banner__bg(src="./img/backgrounds/main.jpg")
  .socialswidget
    a(href="#" target="_blank").ic-youtube
    a(href="#" target="_blank").ic-facebook
    a(href="#" target="_blank").ic-instagram

  .banner__slider
    .swiper-wrapper
      each val in banners

        .swiper-slide
          .banner__caption
            .banner__title= val.title
            .banner__subtitle= val.subtitle
            .banner__text= val.text
            .banner__buttons
              a(href="#").btn.btn--prim.banner__details Подробнее
              a(href="#").btn.btn--op.banner__show ШОУ-РУМ
          img.banner__image(width="345" height="210" src=val.image)
          a(href="#").btn.btn--prim.banner__details.banner__details--mobile Подробнее

    .swiper-pagination