.product
  padding-bottom: 80px
  +xs
    padding-bottom: 40px
  .relatedDefault
    padding-top: 80px
    +xs
      padding-top: 40px
  
.productMain
  +flex(0,0,space-between,flex-start)
  +xs
    display: block

.productMainHeading
  div.preview__sticker
    font-size: 10px
    padding: 2px 4px
  .productMainInfo__manufacturer
    width: auto
    margin: 0 0 0 16px
    +xxs
      width: 100%
      margin: 4px 0 0 0
    


.productMainImages
  max-width: 51%
  margin-right: 80px
  position: relative
  +sm
    margin-right: 40px
  +xs
    max-width: 100%
    margin-right: 0
  &__wrap
    position: absolute
    opacity: 0
    pointer-events: none
    &.visible
      position: static
      opacity: 1
      pointer-events: auto
    &.hidden
      position: absolute
      opacity: 0
      pointer-events: none
  &__thumb
    border: 1px solid #D9DADC
    margin-bottom: 32px
    position: relative
    +xs
      margin-bottom: 24px
    +before
      position: absolute
      top: 19px
      left: 19px
    +hover
      +before
        background: url("../img/sprite.svg") -678px -27px
    .swiper-slide      
      padding: 59px 115px
      cursor: zoom-in
      +xs
        padding: 32px 64px
        align-self: center
    img,
    iframe
      width: 400px
      height: 400px
      object-fit: contain
      margin: 0 auto
      +xs
        width: 100%
        height: auto
  &__nav
    .swiper-slide
      height: 88px
      object-fit: contain
      padding-bottom: 16px
      border-bottom: 2px solid $transparent
      box-sizing: content-box
      cursor: pointer
      +tran(all,.2s)
      +xs
        height: 48px
        padding-bottom: 4px
      &.swiper-slide-thumb-active
        border-color: $c_primary
      img
        height: 100%
        object-fit: contain
  &__video
    position: relative
    +before
      position: absolute
      top: 50%
      right: 0
      transform: translateY(-50%)
  

.productMainInfo
  max-width: calc(49% - 80px)
  +sm
    max-width: calc(49% - 40px)
  +xs
    max-width: 100%
    position: relative
  &__stickers
    margin-bottom: 4px
    +flex(0,wrap,0,0)
    .preview__sticker
      +text(14,700,17,0)
  &__name
    margin-bottom: 12px
    +ellipsis(144px,4,true)
    +sm
      max-height: 112px
      +text(20,0,28,0)
    +xs
      margin-bottom: 8px
      +text(24,800,30,0)
  &__status
    margin-bottom: 20px
    +text(14,500,26,#000)
    +flex(0,0,0,center)
    +md
      flex-wrap: wrap
    +xs
      margin-bottom: 16px
  &__stock
    margin-right: 16px
    white-space: nowrap
    +flex(0,0,0,center)
    +xs
      background: #EFEFF0
      padding: 8px
    +before
      margin-right: 8px
  &__rate
    +flex(0,0,0,center)
    +before
      margin-right: 8px
    .goto_reviews
      margin-left: 4px
      white-space: nowrap
      +text(14,0,22,0)
      +hover
        text-decoration: underline
  &__manufacturer
    margin-left: 16px
    white-space: nowrap
    +md
      width: 100%
      margin: 4px 0 0 0
    a
      color: $c_primary
      text-decoration: underline
      +hover
        text-decoration: none
  &__cost
    margin-bottom: 4px
    letter-spacing: 0.02em
    +flex(0,wrap,0,center)
    +text(36,500,44,$c_primary)
    +xs
      margin-top: 24px
      padding-top: 24px
      border-top: 1px solid #D9DADC
      padding-right: 120px
      +text(24,700,44,$c_primary)
    .label
      margin: 0 16px 4px 0
      +text(16,600,24,0)
  &__old
    text-decoration: line-through
    white-space: nowrap
    max-width: 100%
    text-overflow: ellipsis
    overflow: hidden
    +text(16,400,24,#AEAFB3)
  &__price
    width: 100%
    white-space: nowrap
    max-width: 100%
    text-overflow: ellipsis
    overflow: hidden
  &__art
    +text(14,500,26,#AEAFB3)
    +xs
      margin-bottom: 8px
      +text(12,0,20,0)
  &__bonus
    margin-top: 16px
    padding: 8px 16px
    border: 1px solid $c_primary
    max-width: 328px
    +flex(0,0,0,center)
    &Value
      white-space: nowrap
      +text(16,500,26,$c_primary)
    &Desc
      margin-left: 8px
      +text(12,400,14,#AEAFB3)

  &Options
    padding: 24px 0
    margin-top: 16px
    border-top: 1px solid #AEAFB3
    +xs
      border-color: #D9DADC
      margin-top: 24px
      padding: 16px 0
    .btn
      span
        +text(14,400,26,0)
      +xs
        margin-top: 24px
    &__title
      margin-bottom: 8px
      width: 100%
      +xs
        margin-bottom: 16px
        +text(16,600,24,0)
    &__content
      padding: 0 16px 8px 0
      +flex(0,wrap,0,center)
      +xs
        padding-right: 0
    &__field
      margin-bottom: 4px
      +not_last
        margin-right: 4px
      label
        display: block
        padding: 7px 21px
        border: 1px solid #414141
        cursor: pointer
        position: relative
        +tran(all,.2s)
        +before
          position: absolute
          top: 0
          left: 0
          width: 100%
          height: 1px
          background: #414141        
          transform: rotate(-34deg)
          top: 46%
          left: -7px
          width: 130%
          opacity: 0
      input
        &:checked
          + label
            background: #414141
            color: #fff
      &--disabled
        label
          opacity: 0.2
          overflow: hidden
          +before
            opacity: 1
    &__item
      +text(14,500,26,#000)
      +flex(0,wrap,space-between,center)
      +not_last
        margin-bottom: 16px
      &--color
        .productMainInfoOptions__field
          input
            &:checked
              + label
                background: $transparent
                color: #000
          label
            padding: 0
            border: none
          img
            margin: 0
          +not_last
            img
              margin: 0 20px 0 0
  
  &Quantity
  
  &Actions
    padding-top: 47px
    +flex(0,0,0,center)
    +md
      flex-wrap: wrap
    +xs
      padding-top: 24px
    &__buttons
      padding-right: 33px
      +flex(0,0,0,center)
      +xs
        padding-right: 0
        flex-wrap: wrap
        width: 100%
      .btn
        +xs
          width: 100%
      .btn--prim
        font-weight: 700
        margin-right: 4px
        +xs
          margin: 0 0 8px 0
      .btn--default
        padding: 14px 24px
    &__tools
      +flex(0,0,0,center)
      +md
        margin-top: 16px
      +xs
        position: absolute
        top: 8%
        right: 0
      .btn
        +not_last
          margin-right: 16px
          +xs
            margin-right: 24px
        &.preview__wishlist
          &--added
            +hover
              +before
                background: url("../img/sprite.svg") -618px -24px
            +before
              background: url("../img/sprite.svg") -618px -24px
        &.preview__compare
          &--added
            +hover
              +before
                background: url("../img/sprite.svg") -994px -24px
            +before
              background: url("../img/sprite.svg") -994px -24px
  
.productContent
  padding-top: 80px
  +xs
    padding-top: 40px
  .heading
    font-size: 24px
    text-transform: unset
    margin-bottom: 24px
    +xs
      margin-bottom: 16px
      +text(16,600,24,0)
  .seo__more
    margin-top: 0
  .seo__content--short
    +xs
      height: 225px
  &__tags
    padding-top: 24px
    +xs
      display: none
  &__tag
    display: inline-block
    padding: 5px 10px
    background: #828282
    text-transform: uppercase
    margin: 0 8px 8px 0
    +tran(all,.2s)
    +text(10,700,12,#fff)
    +hover
      text-decoration: none
      background: #414141


.productTabs
  padding-top: 166px
  +md
    padding-top: 40px
  &__buttons
    +xs
      width: 100%
  &__nav
    margin-left: -24px
    +xs
      margin-left: 0
    +flex()
    .tabs__btn
      margin-right: 0 !important
      border-bottom: none
      -webkit-text-stroke-width: 0px
      padding: 18px 24px
      white-space: nowrap
      +text(18,500,36,0)
      +sm
        padding: 16px
        +text(14,0,24,0)
      &--active
        background: linear-gradient(0deg, rgba(32, 32, 32, 0.95), rgba(32, 32, 32, 0.95))
        color: #fff
  &__wrap
    background: linear-gradient(0deg, rgba(32, 32, 32, 0.95), rgba(32, 32, 32, 0.95))
  .tabs__content
    padding: 40px 0
    color: #fff
    min-height: 471px
    +xs
      padding: 32px 0
      min-height: 1px
  .subtitle
    color: #fff
    margin-bottom: 16px
  
  &Chars
    &__chars
      &Wrap
        padding-bottom: 24px
    &__row
      +flex(0,0,0,center)
      +not_last
        margin-bottom: 8px
    &__key
      margin-right: 4px
    &__val
      font-weight: 500
    &__features
    &__feature
      +not_last
        margin-bottom: 8px

  .productDelivery
    margin: 0
    +before
      display: none
    &.tabs__content--active
      +flex(0,0,0,center)

    .container
      width: 100%

    .swiper-pagination
      margin-top: 56px
      +xs
        margin-top: 24px
    
    &__text
      +md
        margin-right: 48px
      +xs
        margin-right: 0

    &__images
      display: grid
      grid-template-columns: repeat(2,1fr)
      grid-gap: 24px
      margin-left: 159px
      +md
        margin-left: auto
        max-width: 49%
      +xs
        max-width: 100%
        margin: 24px 0 0 0
    &__image
      width: 207px
      height: 74px
      padding: 8px 22px
      background: #fff
      border-radius: 4px
      +flex(0,0,center,center)
      +md
        width: auto
      img
        width: 100%
  
  .productGuarantee
    &__content
      padding-bottom: 100px
      +xs
        padding-bottom: 40px
    .heading, .title
      color: #fff
    .heading
      //margin-bottom: 40px

  .productReviews
    .heading
      margin-bottom: 6px
      text-transform: none
      +text(24,0,0,#fff)
    &__subtitle
      margin: 16px 0
      padding-bottom: 16px
      border-bottom: 1px solid #AEAFB3
      p
        +not_last
          margin-bottom: 16px
      span
        color: $c_primary
    &__add
      font-weight: 700
    .sorting
      color: #fff
      margin: 16px 0
      flex-wrap: wrap
      a:not(:hover)
        span
          border-color: #fff
      &__title
        margin-right: 16px
    &__items
    &__item
      background: rgba(255, 238, 230, 0.2)
      border: 1px solid #AEAFB3
      min-height: 170px
      max-width: 704px
      +not_last
        margin-bottom: 16px
    &__header
      padding: 16px
      border-bottom: 1px solid #AEAFB3
      +flex(0,0,0,center)
      +xs
        flex-wrap: wrap
    &__photo
      width: 40px
      height: 40px
      border-radius: 50%
    &__name
      margin: 0 16px
      +text(18,500,18,0)
      +xs
        width: calc(100% - 40px - 32px)
    &__rate
      +text(14,500,26,0)
      +flex(0,0,0,center)
      +xs
        margin-top: 8px
      +before
        margin-right: 8px
    &__date
      margin-left: auto
      +text(12,400,22,0)
      +flex(0,0,0,center)
      +xs
        margin: 8px 0 0 16px
      +before
        margin-right: 8px
        transform: scale(0.8)
    &__review
      padding: 16px
      +text(14,400,22,0)